<<<<<<< HEAD
/* Цветовые классы */
.red-text {
    color: #f00; /* Красный цвет */
}

.green-text {
    color: #008000; /* Темно-зеленый цвет */
}

.blue-text {
    color: rgb(13, 16, 180); /* Темно-синий цвет */
}

/* Специальная настройка для вложенного списка */
ul ul {
    list-style-type: circle; /* Круглые маркеры для вложенных элементов */
    padding-left: 20px;     /* Небольшое отступление внутрь */
=======
/* Цветовые классы */
.red-text {
    color: #f00; /* Красный цвет */
}

.green-text {
    color: #008000; /* Темно-зеленый цвет */
}

.blue-text {
    color: rgb(13, 16, 180); /* Темно-синий цвет */
}

/* Специальная настройка для вложенного списка */
ul ul {
    list-style-type: circle; /* Круглые маркеры для вложенных элементов */
    padding-left: 20px;     /* Небольшое отступление внутрь */
>>>>>>> 30126db65ef509926eb48f4e4f6e5f4fdf5afeeb
}