/* Цветовые классы */
.red-text {
    color: rgb(235, 226, 226); /* Красный цвет */
}

.green-text {
    color: #008000; /* Темно-зеленый цвет */
}

.blue-text {
    color: rgb(13, 16, 180); /* Темно-синий цвет */
}

/* Специальная настройка для вложенного списка */
ul ul {
    list-style-type: circle; /* Круглые маркеры для вложенных элементов */
    padding-left: 20px;     /* Небольшое отступление внутрь */
}